<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sprite_Sheet_Splitter.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<userSettings>
        <Sprite_Sheet_Splitter.My.MySettings>
                <setting name="GridColor" serializeAs="String">
                        <value>128, 255, 128</value>
                </setting>
                <setting name="CompletionNotification" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="SizeModeIndex" serializeAs="String">
                        <value>0</value>
                </setting>
        </Sprite_Sheet_Splitter.My.MySettings>
    </userSettings>
</configuration>